body {
  background: #426173 url(../images/Pattern.png) repeat;
  font-family: Lato, sans-serif;
  color: #354650;
}

#wrapper {
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto 25px ;
}

header {
  text-align: center;
  padding: 20px 0;
}

header img {
  padding-bottom: 20px;
}

menu {
  display: inline-block;
}

menu:after {
  display: block;
  content: '';
  clear: both;
}

menu li {
  background: url("../images/Step 3.png") no-repeat;
  display: block;
  float: left;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  line-height: 50px;
  color: #96A2A9;
  position: relative;
  cursor: pointer;
}


menu li.active {
  background: url("../images/Step 1.png") no-repeat;
  color: #fff;
}

menu li:nth-child(2) {
  left: -5px;
}

menu li:nth-child(3) {
  left: -10px;
}

menu li:nth-child(4) {
  left: -15px;
}


main {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  color: #354650;
  text-align: center;
  margin-bottom: 30px;
}

.label {
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.checkbox-control label {
  line-height: 22px;
}

.checkbox-container {
  display: block;
  float: left;
}

.checkbox-container input {
  position: absolute;
  z-index: -9999;
}

.checkbox-container span {
  width: 28px;
  height: 28px;
  display: block;
  background: url("../images/Chekbox 0.png") no-repeat;
  cursor: pointer;
}

.checkbox-container span,
.checkbox-container + label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.checkbox-container input:checked + span {
  background: url("../images/Chekbox V.png") no-repeat;
}

.checkbox-control .label {
  margin-left: 45px;
}

#form select {
  width: 100%;
}



.validated input:valid {
  border: 1px solid #54D0FF;
}

.validated input:invalid {
  border: 1px solid #FF2F4F;
}

.zip-container {
  position: relative;
}

.city-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #96A2A9;
  font-size: 14px;
}

.input {
  margin:0;
  padding: 18px;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  line-height:1;
  width: 100%;
  border: 1px solid #C6D0D8;
  border-radius: 6px;
  background-color: #F2F6FB;
  font-size: 18px;
}

.input:focus {
  outline: none;
}

.submit-btn {
  padding: 20px;
  background-color: #54D1FF;
  color: #fff;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 24px;
}

.submit-btn:hover {
  background-color: #14C0FF;
}

input.submit-btn[disabled] {
  opacity: 0.3;
}