
/* adaptive design */
@media screen and (max-width: 767px) {


  main {
    padding: 27px 15px;
  }

  main .title {
    font-size: 24px;
    line-height: 29px;
  }

  #fname {
    margin-bottom: 20px;
  }

  menu {
    position: relative;
    left: 0px;
  }

  menu li:nth-child(2) {
    left: -1px;
  }

  menu li:nth-child(3) {
    left: -2px;
  }

  menu li:nth-child(4) {
    left: -3px;
  }


}
@media screen and (max-width: 599px) {

  menu li {
    background: url("../images/Step_2.png") no-repeat;
    width: 80px;
    height: 30px;
    line-height: 30px;
  }

  menu li.active {
    background: url("../images/Step_1.png") no-repeat;
  }

  menu li .mobile-hide {
    display: none;
  }

}

@media screen and (max-width: 450px) {
  .text-verification-form .close-form {
    right: 8px;
    top: -28px;
  }

  .text-verification-form .form-inner-wrapper {
    padding: 35px 0 55px;
  }

  .text-verification-form .text-verification-step-two {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {

  .logo {
    background-image: url("../images/TrueCare24_logo@2x.svg");
  }
  .checkbox-container span {
    background-image: url("../images/Chekbox 0@2x.svg");
  }
  .checkbox-container input:checked + span {
    background-image: url("../images/Chekbox V@2x.svg");
  }

  #wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url("../images/Arrow@2x.svg");
  }

  .text-verification-form {
    .resend-code {
      background-image: url("../images/Resend icon@2x.svg");
    }

    .text-verification-step-two {
      background-image: url("../images/Thankyou_ico@2x.svg")
    }

    .close-form {
      background-image: url("../images/Close popup@2x.svg");
    }
  }

  menu li {
    background: url("../images/Step 2@2x.svg") no-repeat;
  }

  menu li.active {
    background: url("../images/Step 1@2x.svg") no-repeat;
  }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (max-width: 599px),
only screen and (-moz-min-device-pixel-ratio: 1.5) and (max-width: 599px),
only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 599px),
only screen and (min-device-pixel-ratio: 1.5) and (max-width: 599px) {
  menu li {
    background: url("../images/Step_2@2x.svg") no-repeat;
  }

  menu li.active {
    background: url("../images/Step_1@2x.svg") no-repeat;
  }
}