/* text verification code form */

.bg-wrapper {
  background-color: #003346;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.text-verification-form {
  width: 100%;
  max-width: 400px;
  min-width: 320px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;

  .form-inner-wrapper {
    padding: 35px 40px;
    position: relative;
  }

  .form-content {
    padding: 0 40px;
  }

  .title {
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  .number-sent {
    color: #54D0FF;
  }

  .resend-code {
    color: #54D0FF;
    background: url("../images/Resend icon.png") no-repeat center left;
    padding: 4px 0 4px 30px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .resend-code.in-progress {
    opacity: 0.3;
    cursor: default;
  }

  .input {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .close-form {
    position: absolute;
    right: -20px;
    top: -20px;
    background-image: url("../images/Close popup.png");
    width: 17px;
    height: 17px;
    cursor: pointer;
  }

  .text-verification-step-two {
    background: url("../images/Thankyou_ico.png") top center no-repeat;
    padding-top: 90px;
  }

}